a:hover{
    filter: brightness(60%);
    transition: 0.2s;
    cursor: pointer;
}

a{
    display:block;
}
img{
    max-width: 200px;
    -webkit-box-shadow: 3px 1px 31px -16px #333333;
    box-shadow: 3px 1px 31px -16px #333333;
}
.card{
    max-width: 200px;
}
.rounded{
    border-radius: 300px;
}