.card{
    display:flex;
    background-color: #fff;
    padding: 0px 30px 0px 0px;
    align-items: center;
    border-radius:2px;
    overflow: hidden;
    width: 300px;
    margin:5px;

    -webkit-box-shadow: 0px 1px 24px -14px #333333;
box-shadow: 0px 1px 24px -14px #333333;

}
.text{
    display:flex;
    flex-direction: column;
}
.card-title{
    font-weight: 600;
}
.card-title{
    margin:5px;
}
.card-row1{
    margin:5px;
}

.thumbnail {
    height: 80px;
    width: 80px;
    margin:5px;
}