
<div class="bg">
  <div class="white"></div>
  <div *ngIf="artist" class="banner">
      
        
        <h1><span class="title">{{artist.name_artist}}</span></h1>

        
      
  </div>
  <div *ngIf="artist" class="description">
    <h3 class="description-header">Description:</h3>
    <p style="white-space:pre-wrap;">{{artist.description}}</p></div>
  <div class="albums-container">
  <app-horizontal-list title = "{{'ALBUMS' | oTranslate}}" [dataSource]= "albumsDataSource"></app-horizontal-list>
</div>
</div>