<div class="hl-header">
  <span class="header-title" (click)="test()">{{title}}</span>
  <!--<div (click)="prevPage()"> &lt; </div>
  <div (click)="nextPage()"> &gt; </div>-->
</div>

  
<div class="hl-flex">
  <ng-container *ngFor="let item of dataSource; index as i;">
      
      <div class="card">
      <a>
        <img
         *ngIf="item" src={{getDirectory(item)}}
         [ngClass]="{'round': displayType === 'round'}" 
         (click)="goToPage(item)">
      </a>
      <strong *ngIf="item['row1']">{{item["row1"]}}</strong><br><span>{{item['row2']}}</span>  
      </div>
      
      
  </ng-container>
</div>
