.hl-flex{
    display:flex;
    flex-direction: row;
        
}

.hl-header{
    display:block;
    font-size: 30px;
    width:100%;
    padding: 15px 0;
    margin-bottom: 20px;

}
.header-title{
    text-shadow: 2px 2px 9px rgba(0,0,0,0.27);
    
}
.list-item{
    margin: 0px 10px;
}
.round{
    border-radius:300px;
}
.playlist{
    box-shadow: 8px -8px 0px 0px #474747, 16px -16px 0px 0px #383838;
}
a:hover{
    filter: brightness(60%);
    transition: 0.2s;
    cursor: pointer;
}

a{
    display:block;
}
img{
    max-width: 200px;
    //box-shadow: 0px 0px 21px 1px rgba(255,255,255,0.34);
}
.card{
    max-width: 200px;
    margin: 10px;
}
.rounded{
    border-radius: 300px;
}
