.o-app-sidenav .o-app-sidenav-sidenav{
  background-color: black;
}
.o-app-header nav .sidenav-toggle {
  color: rgba(255,255,255,0.87);
  background: black;
}

.playlist{
  box-shadow: 8px -8px 0px 0px #474747, 16px -16px 0px 0px #383838;
}
.regular-icon{
  width: 200px;
  height: 200px;
}