<div class="content-wrapper">
  <div class="header">

    <img src="../../../..//assets/dbImages/albums/1_cover.jpg" alt="" class="album-cover">
    <div class="album-info">
      <span class="album-title">Meteora</span>
      <br>
      <span class="artist">Linkin Park</span>
      <br>
      <span class="album-year album">2003</span> • <span class="songs-number">13 songs</span> • <span class="album-duration"> 36 min.</span>
      <br>
      <br>
      <br>
      <button mat-raised-button color="primary">
        <mat-icon>playlist_add</mat-icon> Add to list</button>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      
    </div>
  </div>
  
</div>