
<div class="bg">
  <div class="banner">
    <div class="gradient"></div>
      <div class="container">
        
        <h1><span class="title">Go for the encore.</span></h1>
          <span class="banner-desc">Harmony is here to help you reach new frontiers in musical knowledge.</span>
      </div>
  </div>
  <!--<app-horizontal-list title = "{{'NEWEST_ALBUMS' | oTranslate}}" [dataSource]= "albumDataSource"></app-horizontal-list>-->
  <!--<app-horizontal-list title = "{{'NEWEST_ARTISTS' | oTranslate}}" [dataSource]= "artistDataSource"displayType="round"></app-horizontal-list> -->
</div>