
<div class="bg">
  <div class="white"></div>
  <div class="banner" (click)="caca()">
      <div class="container">
        
        <h1><span class="title">{{'HOME_TITLE' | oTranslate}}</span></h1>
          <span class="banner-desc">{{'HOME_SUBTITLE' | oTranslate}}</span>
      </div>
  </div>
  <div class="item-container">
    <app-horizontal-list title = "{{'NEWEST_ALBUMS' | oTranslate}}" [dataSource]= "albumDataSource"></app-horizontal-list>
  </div>
  <div class="item-container inline">
    <app-horizontal-list title = "{{'NEWEST_ARTISTS' | oTranslate}}" [dataSource]= "artistDataSource" displayType="round"></app-horizontal-list>
  </div>
  <div class="item-container inline">
    <app-horizontal-list title = "{{'NEWEST_PLAYLISTS' | oTranslate}}" [dataSource]= "playlistDataSource" displayType="playlist"></app-horizontal-list>
  </div>
</div>